main {
    padding: 0 20vw;
}

.enonce,
.coequipier {
    display: grid;
    grid-template-columns: 15% 85%;
}

.enonce h2,
.coequipier h2 {
    grid-column: 1 /span 3;
    grid-row: 1;
}

.enonce__analyst {
    width: 150px;
    grid-column: 1;
    grid-row: 2;
}

.enonce>div {
    grid-column: 2;
    grid-row: 2;
}

.enonce__appel {
    margin-left: var(--size-regular);
}

.enonce__indice--bulle {
    border: 2px solid #333;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 10px 15px;
}

iframe {
    border: 0;
    grid-column: 1 / span 2;
    grid-row: 3;
}

.coequipier{
    z-index: -1;
}

.coequipier__portrait {
    width: 150px;
    grid-column: 1;
    grid-row: 2;
}

.coequipier__message {
    border: 2px solid #333;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 10px 15px;
    grid-column: 2;
    grid-row: 2;
}

.coequipier__morse {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.coequipier__transcription {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.coequipier__thumbnail {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.coequiper__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: RGBA(0, 0, 0, 0.7);
    display: none;
    overflow: hidden;
}

.coequipier__alphabet {
    max-height: 90%;
    max-width: 90%;
}

.interface {
    display: flex;
    justify-content: space-evenly;
}

.joueur,
.coffre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coffre__img {
    width: 15vw;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom {
    animation: zoom 1s;
}

.reduce {
    animation: reduce 1s;
}

@keyframes zoom {
    from {
        transform: scale(0);
        transform-origin: center;
    }
    to {
        transform: scale(1);
        transform-origin: center;
    }
}

@keyframes reduce {
    from {
        transform: scale(1);
        transform-origin: center;
    }
    to {
        transform: scale(0);
        transform-origin: center;
    }
}