body {
    background-color: black;
}

#terminal {
    text-align: left;
    position: absolute;
    left: 20%;
    right: 0;
    top: 6%;
    color: rgba(66, 216, 201);
    font-size: 20px;
    padding-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centered-button {
    background-color: black;
    color: rgba(66, 216, 201);
    font-size: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid rgba(66, 216, 201);
}

.centered-button:hover {
    background-color: rgba(66, 216, 201);
    color: black;
}

footer {
    position: fixed;
    width: 100%;
    background-color: black;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

