main {
    padding: 0 20vw;
    >div {
        display: flex;
        img {
            margin-right: var(--size-h1);
            height: 250px;
        }
    }
}

li {
    list-style: disc;
    margin-left: var(--size-h1);
}

.answer,
button {
    margin-right: var(--size-h1);
}