<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch Farceur</title>
    <script src="./src/script/redirection.js"></script>
    <link rel="stylesheet" href="../../src/style/base.css">
</head>

<body>
    <header>
        <img src="../../src/img/logo_ardrar.png" alt="Logo de l'ADRAR Pôle Numérique">
        <nav>
            <ul>
                <li><a href="../../accueil.html">Accueil</a></li>
                <li><a href="../../contact.html">Contact</a></li>
            </ul>
        </nav>
        <div></div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>